html {
	background: url(../img/home-bg4.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}

body {
	font-size: 16px;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: transparent;
	height: 100%;
}

h1 {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 800;
	font-size: 40px;
}

/* Override B3 .panel adding a subtly transparent background */
.panel {
	background-color: rgba(255, 255, 255, 0);
	margin-top: 100px;
	margin-bottom: 70px;
	border-style: none;
	color: #fff;

}

.device {
	margin-top: -30px;
	width: 345px;
	height: 600px;
	background: url('../img/iPhone+screen.png') no-repeat;
}

.main-logo {
	width: 284px;
	height: 44px;
	margin-top: 22px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url('../img/main-logo.png') no-repeat;
	background-size: 100%;
}

.navbar {
	background-color: rgba(255, 255, 255, 0);
	border-bottom: none;
}
.btn-default {
	margin-right: 10px;
	padding: 10px 12px;
	width: 175px;
	text-align: right;
	font-size: 0.7em;
	max-height: 53px;
	border-style: none;
}

.appstore {
	background: url('../img/red_CTA.png');
	background-position:center;
	background-repeat:no-repeat;
	padding-left: 150px;
	padding-top: 40px;
}


/* footer shit */

.wrapper {
	min-height:100%;
	position:relative;
}

.navbar-fixed-top {
	margin: 0px;
}

.content {
	margin: 0px;
	padding-bottom:100px; /* Height of the footer element */
}

.main-footer {
	width:100%;
	height:50;
	position:absolute;
	bottom:0;
	left:0;
	text-align: center;
}

.navbar-nav {
	position: relative;
	display: inline-block;
	float: none;
}


.nav > li > a {
	color: #ccc;
	cursor: hand;
}

.nav > li > a > img {
	cursor: hand;
	margin-bottom: 10px;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
    color: white;
}

.fa-facebook:hover {
    color: black;
}
.fa-twitter:hover {
    color: black;
}
.fa-pinterest:hover {
    color: black;
}



